@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;

    --color-one: #660000;
    --color-two: #333333;
    --color-three: #003366;
    --color-four: #FF6600;

    /* width 400 500 600 700 */
    font-family: 'Rajdhani', sans-serif;
    }
.navbar{
    background-color: var(--color-one) !important;
}
.navbar-brand{
    font-weight: 700;
    color: white;
}
.nav-link{
    color: white !important;
}
.navbar-toggler-icon{
    color: white;
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 15px;
}
.home_mainLogo_img{
    width: 300px;
    height: 160px;
    background-image: url(../img/mainLogo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
}
.home_textPerson{
    display: flex;
    flex-direction: column;
}
.home_mainLogo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.home_mainLogo_slogan{
    font-weight: 700;
}
.home_carrousel{
    width: 100%;
    height: auto;
}
/* ############################################################## MEDIA QUERY - 840px - ############################################################## */
@media (min-width: 840px) {
    .home_textPerson{
        flex-direction: row;
        align-items: center;
    }
}
/* ############################################################## MEDIA QUERY -  992px - ############################################################## */
@media (min-width: 992px) {
    .home_mainLogo_img{
        width: 400px;
        height: 200px;
    }
    .home_mainLogo_slogan{
        font-size: 1.5rem;
    }

}